{% extends "base.html" %}

{% block content %}
<div class="form-card">
  <h2>Add an Event</h2>

  <form action="" method="POST">

    <div class="form-group">
      <label>Title:</label>
      <input type="text" name="title" required>
    </div>

    <div class="form-group">
      <label>Date & Time:</label>
      <input type="datetime-local" name="date_of_event" required>
    </div>

    <div class="form-group">
      <label>Event Category:</label>
      <select name="category" class="form-control" required>
        <option value="" disabled selected>Select an event category</option>

        <option value="Academic Event">Academic Event</option>
        <option value="Activism">Activism</option>
        <option value="Basic Needs Support">Basic Needs Support</option>
        <option value="Career & Professional Development">Career & Professional Development</option>
        <option value="Civic Engagement">Civic Engagement</option>
        <option value="Community Event">Community Event</option>
        <option value="Crafts & Creative Activities">Crafts & Creative Activities</option>
        <option value="Cultural">Cultural</option>
        <option value="Food Resources / Food Events">Food Resources / Food Events</option>
        <option value="Health & Wellness">Health & Wellness</option>
        <option value="Internship & Career Exploration">Internship & Career Exploration</option>
        <option value="Research Opportunities">Research Opportunities</option>
        <option value="Social">Social</option>
        <option value="Student Life">Student Life</option>
        <option value="Workshops & Training">Workshops & Training</option>
        <option value="Other">Other</option>

      </select>
    </div>


    <div class="form-group">
      <label>Contact Info:</label>
      <input type="text" name="contact_info">
    </div>

    <div class="form-group">
      <label>Description:</label>
      <textarea name="description" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label>Location:</label>
      <input type="text" name="address1" placeholder="Address 1">
      <input style="margin-top:8px;" type="text" name="address2" placeholder="Address 2">
      <input style="margin-top:8px;" type="text" name="city" placeholder="City">
      <input style="margin-top:8px;" type="text" name="state" placeholder="State">
      <input style="margin-top:8px;" type="text" name="postal_code" placeholder="Postal Code">
    </div>

    <button class="submit-btn" type="submit">Add Event</button>

  </form>

  <a class="back-link" href="{{ url_for('event_bp.list_events') }}">Back to Events</a>
</div>

{% endblock %}
